html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.calendar {
    padding: 250px 0px;
    background-image: url("../img/calendar-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.c {
    background-color: rgb(255, 255, 255, 0.8);
    border: none;
    min-width: 700px;
}