.chat {
    background-color: white;
    border: 5px #3b4d96 solid;
    border-radius: 20px;
    width: 500px;
    margin-bottom: 50px;
}

.chat:hover {
    border-color:  #edac1a;
}


h4 {
    padding: 10px;
    text-align: left;
}

p {
    text-align: center;
}

.check {
    margin-left: 150px;
}