img {
    height: 20%; 
    width: 20%;  
}
.topHeader {
    padding: 30px;
    background-color:#404041;
    color:  #edac1a; 
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: none;
  color: red;
  font-size: 20px;
}

.carousel-wrapper{
    color: white; 
}