html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.covid-message {
    background-color: red;
    padding-top: 10px;
    padding-bottom: 5px;
}

.welcome {
    color: #3b4d96;
    background-color: white;
    padding: 10px;
    font-size: 2.5rem;
}

.main-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    border: 0;
    vertical-align: bottom;
    max-width: 100%;
    
}
