html, body {
  margin:0;
  padding: 0;
  width: 100%;
}
.login-label{
    color: white;
    margin-right: 5px;
    margin-left: 30px;
    width: 100px;
    text-align: right;
  }
  
  
  .login-input{
    margin-left: 20px;
    width: 40%;
  }
  
  .login-form-input-grp{
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    font-family: sans-serif;
  }
  
  
  #login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
  }
  
  #login-form-header{
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    position: relative;
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    width: 100%;
  }
  
  #login-btn{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    margin: 25px 0px;
    cursor: pointer;
    background-color: #edac1a;
    border: none;
    border-radius: 25px;
    padding: 5px;
    color: #3b4d96;
  }
  
  #login-header{
    color: #3b4d96;
    font-size: 50px;
    font-family: sans-serif;
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  
  #login-form-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color:#3b4d96;
    border-radius: 25px;
    margin-bottom: 80px;
    min-width: 500px;
  }
  
  .login-error-msg{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: sans-serif;
  }