body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-color:lightgray;
}

.carousel-wrapper {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    max-height: 400px; 
    color: white; 
}

.header {
      text-align: center; 
}

